/* text1 & shadow1 for modules left & right */
/* text2 & shadow2 for module center */
@import "/home/nahikom/.config/waybar/styles/style11.css";

* {
  font-family: "CodeNewRoman Nerd Font Propo";
  font-size: 18px;
}

window#waybar {
  background: linear-gradient(0deg, rgba(30,30,30,0.9) 0%, rgba(30,30,30,0.7) 70%,  rgba(30,30,30,0.5) 100%); 
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.modules-left,
.modules-center,
.modules-right {
  border-radius: 15px;
}

.modules-left {
  padding: 0 20px;
}

.modules-center {
  padding: 0 10px;
}

.modules-right {
  padding: 5px 10px;
}

#custom-arch {
  font-size: 25px;
  text-shadow: 2px 2px 2px @shadow2, 0 0 2em @shadow1, 0 0 0.2em @shadow1;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text1;
  font-size: 18px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @text1;
  color: #24273a;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}


#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}



#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#language {
  color: @text1;
  padding: 0 10px;
  text-shadow: 0 0 1em @shadow1, 0 0 0.2em @shadow1;
}

#window {
  color: @text2;
  text-shadow: 1px 1px 2px @shadow2, 0 0 1em @shadow1, 0 0 0.2em @shadow1;
}

tooltip {
    background-color: rgba(30, 30, 45, 0.9);
    border-radius: 8px;
    padding: 12px;
    font-family: "Noto Sans", sans-serif;
}


#battery.charging,
#battery.plugged {
  color: #7dc4e4;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: #cad3f5;
}
